*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: "Inter", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
    opacity: 0.7;
}

main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1;
    height: 100%;
}

aside {
    background-color: #1c2833;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: rgb(249, 253, 255);

}

section {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    /* height: 100%; */
    padding: 1rem 3rem;
    overflow-y: scroll;
}

aside .profile-pic {
    width: 50%;
    border-radius: 50%;
    text-align: center;
    margin: 1rem 0;
}

aside .intro-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside .intro {
    text-align: center;
}

aside .intro>h1 {
    font-size: 2rem;
}

hr.dash {
    border: 2px solid #f13c54;
    background-color: #f13c54;
    margin: 10px auto;
    width: 40px;
}

.details {
    width:300px
}


section>div {
    width: 100%;
    padding-bottom: 1rem;
}

section hr.left {
    border-color: rgb(0, 206, 154);
    background-color: rgb(0, 206, 154);

    margin: 10px auto 10px 0;
}

.experience {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.company {
    padding: 0 0 1.2rem;
}

.company:last-child {
    padding: 0;
}

ul {
    list-style: none;
}

ul>li>ul {
    margin-left: 1rem;
}

@media screen and (max-width: 900px) {
    main{
        display: flex;
        flex-direction: column;
        height: initial;
    }
    aside{
        height: calc( 100vh - 6rem );
    }
    section{
        padding: 1rem 1.5rem;
    }
}
